@charset "UTF-8";
/*Mixins*/
/*Animação fadein*/
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*Animação movimento*/
@-moz-keyframes movimento {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
@keyframes movimento {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
@-webkit-keyframes movimento {
  from {
    margin-right: 100%;
    width: 200%; }
  to {
    margin-right: 0px;
    width: 100%; } }
@-ms-keyframes movimento {
  from {
    margin-right: 100%;
    width: 200%; }
  to {
    margin-right: 0px;
    width: 100%; } }
@-o-keyframes movimento {
  from {
    margin-right: 100%;
    width: 200%; }
  to {
    margin-right: 0px;
    width: 100%; } }
/*código geral*/
.container {
  width: 92%;
  overflow: hidden;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.dados {
  padding: 2%;
  background-color: #273D59;
  color: white; }

.nome {
  position: absolute;
  bottom: 8px;
  left: 16px; }

.header {
  position: relative;
  width: 100%;
  height: 150px; }

.title, .background {
  position: absolute;
  width: 100%;
  height: 100%; }

.title {
  text-align: center;
  vertical-align: middle;
  font-size: 2.8em;
  font-family: 'Rubik Mono One', sans-serif;
  color: red;
  padding: 2%;
  margin: 0px;
  -webkit-animation: movimento 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: movimento 3s;
  /* Firefox < 16 */
  -ms-animation: movimento 3s;
  /* Internet Explorer */
  -o-animation: movimento 3s;
  /* Opera < 12.1 */
  animation: movimento 3s; }

.background {
  background: url("https://wallpaperscraft.com/image/quentin_tarantino_pulp_fiction_kill_bill_reservoir_dogs_100612_1920x1080.jpg");
  background-size: 30% 100%;
  opacity: 0.6;
  background-origin: border-box; }

.subtitle {
  text-align: center;
  font-family: 'Ranga', cursive;
  color: white;
  font-size: 1.6em; }

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 4px 4px 10px white;
  transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); }

.card:hover {
  box-shadow: 8px 8px 14px white; }

img {
  width: 100%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: relative; }

.movie_name {
  text-align: center;
  font-size: 1.3em;
  color: red; }

.date {
  text-align: center;
  font-size: 1.15em;
  color: red; }

.col1 {
  width: 4.25%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col2 {
  width: 10.5%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col3 {
  width: 16.75%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col4 {
  width: 23%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col5 {
  width: 29.25%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col6 {
  width: 35.5%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col7 {
  width: 41.75%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col8 {
  width: 48%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col9 {
  width: 54.25%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col10 {
  width: 60.5%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col11 {
  width: 66.75%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col12 {
  width: 73%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col13 {
  width: 79.25%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col14 {
  width: 85.5%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col15 {
  width: 91.75%;
  padding: 1%;
  float: left;
  padding-bottom: 999999px;
  margin-bottom: -999999px; }

.col_int1 {
  width: 98%;
  overflow: hidden;
  margin: auto;
  float: left; }

.col_int2 {
  width: 48%;
  overflow: hidden;
  margin: auto;
  float: left; }

#footer {
  text-align: center;
  color: white; }

/*# sourceMappingURL=style.css.map */
