$cardScale: 1.25;
$fonte: 'Economica';
$pequeno: ".col_P";
$medio: ".col_M";
$grande: ".col_L";
$nome_textSize: 1.30em;
$ano_textSize: 1.15em;
$BGcolor: white;
$resumoColor: #5CA1FF;
$largura_Col: 6.25%;
$raio:25px;
$containerColor: #C4BECC;
$imgWidth: 100%;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin animation($param, $param2, $param3){
    -webkit-animation: $param, $param2, $param3; 
    -moz-animation: $param, $param2, $param3;
    -ms-animation: $param, $param2, $param3;
    animation: $param, $param2, $param3;
}

@mixin transition($tempo){
    -webkit-transition: $tempo;
    -moz-transition: $tempo;
    -ms-transition: $tempo;
    transition: $tempo;
}

#resumo{
    background-color: $resumoColor;
    p{
        color: white;
    }
}

.dados{
    font-family: $fonte, sans-serif;
    text-size: 3em;
}

h1{
    text-align: center;
    font-family: $fonte, sans-serif;
    padding-bottom: 20px;
    padding-top: 10px;
    text-size: 2.8em;
}

h1+p{
    text-align:center;
    font-family: $fonte, sans-serif;
    padding-bottom: 20px;
    padding-top: 10px;
    text-size: 1.6em;
}

h2, h3{
    font-family: 'Jim Nightshade', cursive;
}

#atual{
    display:inline;
    background-color: red;
    padding-right: 5px;
}

.circ{
    p{
        text-align: center;
        width: 20%;
        color: white;
        padding: 25px;
        background-color: $resumoColor;
        margin-left:auto;
        margin-right: auto;
        display: block;
        @include border-radius($raio);
        &:hover{
            transform: scale($cardScale, $cardScale);
        }
    }
}

p{
    text-align: center;
    font-family: $fonte, sans-serif;

}

footer{
    text-align:center;
    margin-top: 30px;
    background-color: $resumoColor;
    padding-bottom: 30px;
    p{
        color: white;
        text-align: center;
    }
}

body{
  background-color: $BGcolor;
  animation: mudacorpage 3s infinite;
  animation-iteration-count: 1;
  text-size: 18px;
}

.container {
    width: 95%;
    background-color: $containerColor;
    margin: auto;
    overflow: hidden;
}

    @media screen and (min-width: 1025px){

    @for $i from 1 to 17{
        #{$grande}#{$i}{
            width: ($largura_Col * $i);
            float: left;
            padding: 1%;
            margin: 1%;
            padding-bottom: 99999px;
            margin-bottom: -99999px;
        }
    }

}
@media screen and (max-width: 1024px) and (min-width: 648px){

    @for $i from 1 to 17{
        #{$medio}#{$i}{
            float: left;
            padding: 1%;
            margin: 2%;
            padding-bottom: 99999px;
            margin-bottom: -99999px;
            width: ($largura_Col * $i);
        }
    }
 
}

@media screen and(max-width: 647px){

     @for $i from 1 to 17{
        #{$pequeno}#{$i}{
            float: left;
            padding: 1%;
            width: ($largura_Col * $i);
        }
    }

    .circ{
        p{
            text-align:center
        }
    }
}

.col_M8{
    float: right;
}

img{
    width: $imgWidth;
    border-radius: 200px;
    margin: auto;
    display: block;
}