@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Muli');

$fontTitle: 'Acme', sans-serif;
$fontBody: 'Architects Daughter', cursive;
$footerFont: 'Quicksand', sans-serif;
$larguraColuna: 6.125%;

@mixin columnStyle ($i)
{
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px;

    width: ($larguraColuna * $i) - 5%;
}

@mixin multipleColumnSize ($size)
{
    @for $j from 1 to 17
    {
        .#{$size}#{$j}
        {
            @include columnStyle($j);
        }
    }
}

@media screen and (min-width: 1024px)
{
    @include multipleColumnSize(l);
}

@media screen and (min-width: 648px) and (max-width: 1023px)
{
    @include multipleColumnSize(m);
}

@media screen and (max-width: 647px)
{
    @include multipleColumnSize(s);

}

@mixin border-radius($radius) 
{
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transform)
{
    -webkit-transform: scale($transform);
    -ms-transform: scale($transform);
    transform: scale($transform);
}

@mixin animation ($animation)
{
    -webkit-animation: $animation;
    animation: $animation;
}

.todo
{
    background-color: #245C73;
    text-align: center;
}

.container
{
    width: 98%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-family: $fontBody;
    font-size: 20px;
    @include animation(mymove 4s);
    background-color: #DEF7D9;
}

@-webkit-keyframes mymove 
{
    0% 
    {
        transform: translateY(50%);
    }
    100% 
    {
        transform: translateY(0);
    }
}

@keyframes mymove
{
    0% 
    {
        transform: translateY(50%);
    }
    100% 
    {
        transform: translateY(0);
    } 
}

p
{
    text-align: left;
    font-family: 'Muli', sans-serif;
}

footer
{
    text-align: center;
    font-family: $footerFont;
    font-size: 0.5cm;
    background-color: #56878C;
    clear: both;
}

img
{
    height: 300px;
    width: 200px;
    margin: auto;
    display: block;
    padding: 5px;
    filter:blur(1px);
}

.conteudo
{
    margin-left: 25%;
}

h2
{
    font-family: 'Indie Flower', cursive;
}

h3
{
    font-family: 'Indie Flower', cursive;
}

.botao
{
    background-color: #142F69;
    width: 4%;
    padding: 1%;
}

.botao:hover
{
    background-color: #0B1569;
}

.educacao
{
    float: left;
}