body {
  background-color: #000; }

h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #000226; }

#main-container {
  background-color: #000;
  float: left;
  overflow: hidden;
  margin: 2%;
  font-family: "Roboto", sans-serif; }

#resumo {
  background-color: #F7A51F;
  color: #000000;
  text-align: left;
  font-family: "Roboto", sans-serif; }

#foto {
  float: left;
  height: 80%; }

img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

#dados-pessoais {
  margin-top: 100%; }

#dados-pessoais h1 {
  font-size: 200%; }

#principal {
  background-color: #D0D0D0;
  font-family: "Roboto", sans-serif;
  color: #332424; }

#principal h1 {
  text-align: center; }

#exp-form li {
  list-style-type: none;
  float: left;
  text-align: center;
  margin-right: 3%;
  padding: 1%;
  border-radius: 10%;
  background-color: #71B6DE;
  font-family: "Oswald", sans-serif; }

#exp-form h2 {
  font-size: 90%; }

.atual {
  background-color: #88DE5B !important;
  color: #00131F; }

#conhecimento {
  display: inline-block; }

#conhecimento li {
  list-style-type: none;
  border-radius: 20px;
  background-color: #71B6DE;
  text-align: center;
  margin: auto;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 20%;
  transition: all 2.0s ease-in-out; }

#conhecimento li:hover {
  background-color: #88DE5B;
  -webkit-transform: rotate(360deg) scale(1.2);
  -ms-transform: rotate(360deg) scale(1.2);
  transform: rotate(360deg) scale(1.2);
  position: relative;
  transition: 2.0s; }

#rodape {
  background-color: #24528A;
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

a {
  text-decoration: none;
  color: white; }

@media screen and (max-width: 647px) {
  .col_p1 {
    width: 4.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p2 {
    width: 10.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p3 {
    width: 16.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p4 {
    width: 23%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p5 {
    width: 29.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p6 {
    width: 35.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p7 {
    width: 41.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p8 {
    width: 48%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p9 {
    width: 54.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p10 {
    width: 60.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p11 {
    width: 66.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p12 {
    width: 73%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p13 {
    width: 79.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p14 {
    width: 85.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p15 {
    width: 91.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_p16 {
    width: 98%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; } }
@media screen and (min-width: 648px) and (max-width: 959px) {
  .col_m1 {
    width: 4.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m2 {
    width: 10.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m3 {
    width: 16.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m4 {
    width: 23%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m5 {
    width: 29.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m6 {
    width: 35.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m7 {
    width: 41.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m8 {
    width: 48%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m9 {
    width: 54.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m10 {
    width: 60.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m11 {
    width: 66.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m12 {
    width: 73%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m13 {
    width: 79.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m14 {
    width: 85.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m15 {
    width: 91.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_m16 {
    width: 98%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; } }
@media screen and (min-width: 960px) {
  .col_g1 {
    width: 4.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g2 {
    width: 10.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g3 {
    width: 16.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g4 {
    width: 23%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g5 {
    width: 29.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g6 {
    width: 35.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g7 {
    width: 41.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g8 {
    width: 48%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g9 {
    width: 54.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g10 {
    width: 60.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g11 {
    width: 66.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g12 {
    width: 73%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g13 {
    width: 79.25%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g14 {
    width: 85.5%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g15 {
    width: 91.75%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; }

  .col_g16 {
    width: 98%;
    float: left;
    padding: 1%;
    padding-bottom: 99999px;
    margin-bottom: -99999px; } }

/*# sourceMappingURL=style.css.map */
