body {
  background-color: #115037;
  margin: 0% 5% 5% 5%;
  font-family: 'Slabo 27px', serif;
  font-size: 18px; }

.top {
  width: 100%; }

.sidebar {
  color: #00202A;
  background-color: #57AA60; }

img {
  filter: saturate(200%);
  max-width: 100%; }

.personalData {
  margin: 5%; }

.personalText {
  margin: 4%; }

.foot {
  background-color: #339988; }

.icons {
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 3%; }

a {
  color: black; }

.main {
  background-color: #A8C8D2;
  height: 100%; }

@media screen and (max-width: 647px) {
  .colC_1 {
    float: left;
    width: 4.25%; }

  .colC_2 {
    float: left;
    width: 10.5%; }

  .colC_3 {
    float: left;
    width: 16.75%; }

  .colC_4 {
    float: left;
    width: 23%; }

  .colC_5 {
    float: left;
    width: 29.25%; }

  .colC_6 {
    float: left;
    width: 35.5%; }

  .colC_7 {
    float: left;
    width: 41.75%; }

  .colC_8 {
    float: left;
    width: 48%; }

  .colC_9 {
    float: left;
    width: 54.25%; }

  .colC_10 {
    float: left;
    width: 60.5%; }

  .colC_11 {
    float: left;
    width: 66.75%; }

  .colC_12 {
    float: left;
    width: 73%; }

  .colC_13 {
    float: left;
    width: 79.25%; }

  .colC_14 {
    float: left;
    width: 85.5%; }

  .colC_15 {
    float: left;
    width: 91.75%; }

  .colC_16 {
    float: left;
    width: 98%; } }
@media screen and (min-width: 648px) and (max-width: 1023px) {
  .colT_1 {
    float: left;
    width: 4.25%; }

  .colT_2 {
    float: left;
    width: 10.5%; }

  .colT_3 {
    float: left;
    width: 16.75%; }

  .colT_4 {
    float: left;
    width: 23%; }

  .colT_5 {
    float: left;
    width: 29.25%; }

  .colT_6 {
    float: left;
    width: 35.5%; }

  .colT_7 {
    float: left;
    width: 41.75%; }

  .colT_8 {
    float: left;
    width: 48%; }

  .colT_9 {
    float: left;
    width: 54.25%; }

  .colT_10 {
    float: left;
    width: 60.5%; }

  .colT_11 {
    float: left;
    width: 66.75%; }

  .colT_12 {
    float: left;
    width: 73%; }

  .colT_13 {
    float: left;
    width: 79.25%; }

  .colT_14 {
    float: left;
    width: 85.5%; }

  .colT_15 {
    float: left;
    width: 91.75%; }

  .colT_16 {
    float: left;
    width: 98%; } }
@media screen and (min-width: 1024px) {
  .colD_1 {
    float: left;
    width: 4.25%; }

  .colD_2 {
    float: left;
    width: 10.5%; }

  .colD_3 {
    float: left;
    width: 16.75%; }

  .colD_4 {
    float: left;
    width: 23%; }

  .colD_5 {
    float: left;
    width: 29.25%; }

  .colD_6 {
    float: left;
    width: 35.5%; }

  .colD_7 {
    float: left;
    width: 41.75%; }

  .colD_8 {
    float: left;
    width: 48%; }

  .colD_9 {
    float: left;
    width: 54.25%; }

  .colD_10 {
    float: left;
    width: 60.5%; }

  .colD_11 {
    float: left;
    width: 66.75%; }

  .colD_12 {
    float: left;
    width: 73%; }

  .colD_13 {
    float: left;
    width: 79.25%; }

  .colD_14 {
    float: left;
    width: 85.5%; }

  .colD_15 {
    float: left;
    width: 91.75%; }

  .colD_16 {
    float: left;
    width: 98%; } }

/*# sourceMappingURL=estilo.css.map */
