$cor-sidebar : #57AA60;
$cor-texto-side-foot : #00202A;
$cor-footer : #339988;
$cor-fundo: #115037;
$cor-main: #A8C8D2;

body{
	background-color: $cor-fundo;
	margin: 0% 5% 5% 5%;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.top{
	width: 100%;
}

.sidebar{
	color: $cor-texto-side-foot;
	background-color: $cor-sidebar;
}

img{
	filter: saturate(200%);
	max-width: 100%;
}

.personalData{
	margin:5%;
}

.personalText{
	margin:4%
}

.foot{
	background-color: $cor-footer;
}

.icons{
	margin-left:2%;
	margin-top: 3%;
	margin-bottom: 3%;
}

a{
	color: black;
}

.main{
	background-color: $cor-main;
	height: 100%;
}

@media screen and (max-width: 647px){
	@for $i from 1 to 17{
	    .colC_#{$i}{						//Celular
			float: left;
		    width: ((100% / 16%) * $i) - 2%;
	    }
    }
}

@media screen and (min-width: 648px) and (max-width: 1023px){
	@for $i from 1 to 17{
	    .colT_#{$i}{						//Tablet
			float: left;
	    	width: ((100% / 16%) * $i) - 2%;
    	}
    }
}

@media screen and (min-width: 1024px){
	@for $i from 1 to 17{
	    .colD_#{$i}{ 						//Desktop
			float: left;
		    width: ((100% / 16%) * $i) - 2%;
	    }
    }
}
