p{
    font-family: 'Slabo 27px', serif;
}

@for $i from 1 to 5{
    h#{$i}{
        font-family: 'Montserrat', sans-serif;
    }
}

body{
    overflow: hidden;
}

.titulo{
    text-align: center;
}

// COLUNAS

// smartphone
@media screen and (max-width: 647px){    
    @for $i from 1 to 17{
        .col_t#{$i}{
            width: 2%*$i + 4.25%*$i;
            float: left;
            padding: 1%;
            padding-bottom: 4242px;
            margin-bottom: -4242px; 
        }
    }
}

//tablet
@media screen and (max-width: 959px) and  (min-width: 648px){
    @for $i from 1 to 17{
        .col_m#{$i}{
            width: 2%*$i + 4.25%*$i;
            float: left;
            padding: 1%;
            padding-bottom: 4242px;
            margin-bottom: -4242px;
        }
    }
}

// desktop
@for $i from 1 to 17{
    .col_l#{$i}{
        width: 2%*$i + 4.25%*$i;
        float: left;
        padding: 1%;
        padding-bottom: 4242px;
        margin-bottom: -4242px;
    }
}


// RESUMO
#resumo{
    background-color: #9BFFC4;
    overflow: hidden;
}

@mixin efeito(){
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

#nome{
    text-align: center;
}

#foto{
    @include efeito();
    width: 100%;
}

#dados_pessoais{
    text-align: center;
    font-size: 80%;
}

// DATAS

#antes_atual{
    display: inline;
}

#atual{
    display: inline;
    background-color: #F3D944;
    padding: 3px;
}

// PRINCIPAL

#principal{
    background-color: #E5E5E5;
}