p{
    font-family: 'Slabo 27px', serif;
}

@for $i from 1 to 6{
    h#{$i}{
        font-family: 'Montserrat', sans-serif;
    }
}

body{
    //overflow: hidden;
    padding-top: 0%;
}
// COLUNAS

// smartphone
@media screen and (max-width: 647px){    
    @for $i from 1 to 17{
        .col_p#{$i}{
            width: 2%*$i + 4.25%*$i;
            padding-bottom: 4242px;
            margin-bottom: -4242px; 
        }
    }
}

//tablet
@media screen and (max-width: 959px) and (min-width: 648px){
    @for $i from 1 to 17{
        .col_m#{$i}{
            width: 2%*$i + 4.25%*$i;
            padding-bottom: 4242px;
            margin-bottom: -4242px;
        }
    }
}

// desktop
@for $i from 1 to 17{
    .col_g#{$i}{
        width: 2%*$i + 4.25%*$i;
        padding-bottom: 4242px;
        margin-bottom: -4242px;
    }
}


// RESUMO
#resumo{
    background-color: #9BFFC4;
    float: left;
    overflow: hidden;
}

@mixin efeito(){
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

#nome{
    text-align: center;
}

#foto{
    @include efeito();
    width: 100%;
}

#dados_pessoais{
    text-align: center;
    font-size: 80%;
}

// DATAS

#antes_atual{
    display: inline;
    margin-top: -3%; 
}

#atual{
    display: inline;
    background-color: #F3D944;
    padding: 3px;
    margin-top: -3%;
}

// PRINCIPAL

#principal{
    background-color: #C997CF;
    //float: right;
    overflow: hidden; 
    padding-bottom: 15%;
}

#experiencias{
    overflow: hidden;
}

// EDUCAÇÃO

#educacao{
    float: left;
    overflow: hidden;
}

// CONHECIMENTOS TECNICOS

#tecnico{
    float: right;
    overflow: hidden;
    max-width: 50%;
}

.card{
    background-color: #53D929;
    width: 20%;
    text-align: center;
}

.card:hover{
    background-color: #F24332;
    width: 21%;
    text-align: center;
    font-size: 110%;
}

// RODAPÉ

#footer{
    background-color: #C9D94E;
}

#copyright{
    background-color: #C9D94E;
    display: inline;
    margin-left: 10%;
}

.titulo{
    text-align: center;
}