p{
    font-family: 'Slabo 27px', serif;
}

@for $i from 1 to 6{
    h#{$i}{
        font-family: 'Montserrat', sans-serif;
    }
}

$background: #C2C2C2;

body{
    //overflow: hidden;
    padding-top: 0%;
    background-color: $background;
}
// COLUNAS

// smartphone
@media screen and (max-width: 647px){    
    @for $i from 1 to 17{
        .col_p#{$i}{
            width: 2%*$i + 4.25%*$i;
            padding-bottom: 4242px;
            margin-bottom: -4242px; 
        }
    }

    #resumo{
        padding-bottom: 1%;
        padding-right: 25%;;
    }
}

//tablet
@media screen and (max-width: 959px) and (min-width: 648px){
    @for $i from 1 to 17{
        .col_m#{$i}{
            width: 2%*$i + 4.25%*$i;
            padding-bottom: 4242px;
            margin-bottom: -4242px;
        }
    }
}

// desktop
@media screen and (min-width: 960px){
    @for $i from 1 to 17{
        .col_g#{$i}{
            width: 2%*$i + 4.25%*$i;
            padding-bottom: 4242px;
            margin-bottom: -4242px;
        }
    }
}

// RESUMO
$resumo: #9BFFC4;

#resumo{
    background-color: $resumo;
    float: left;
    overflow: hidden;
}

@mixin efeito(){
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

#nome{
    text-align: center;
}

#foto{
    @include efeito();
    width: 100%;
}

#dados_pessoais{
    text-align: center;
    font-size: 80%;
}

// DATAS

#antes_atual{
    display: inline;
    margin-top: -3%; 
}

$atual: #F3D944;

#atual{
    display: inline;
    background-color: $atual;
    padding: 3px;
    margin-top: -3%;
    border-radius: 5px;
}

// PRINCIPAL
$principal: #C997CF;

#principal{
    background-color: $principal;
    overflow: hidden; 
    padding-bottom: 15%;
    padding-left: 5%;
}

#experiencias{
    overflow: hidden;
}

// EDUCAÇÃO

#educacao{
    float: left;
    overflow: hidden;
}

// CONHECIMENTOS TECNICOS

#tecnico{
    float: right;
    overflow: hidden;
    max-width: 50%;
}
ul{
    $card: #53D929;
    $card-hover: #F24332;

    .card{
        background-color: $card;
        width: 40%;
        line-height: 0.5%;
        margin: auto;
        text-align: center;
        display: inline-block;
        margin: 2%;
        border-radius: 3px;
    }

    .card:hover{
        background-color: $card-hover;
        width: 40%;
        margin: auto;
        line-height: 0.5%;
        text-align: center;
        font-size: 110%;
        display: inline-block;
        margin: 2%;
        border-radius: 3px;
    }
}
// RODAPÉ

$footer: #FF922C;

#footer{
    background-color: $footer;
}

#copyright{
    display: inline;
    margin-left: 10%;
}

.titulo{
    text-align: center;
}

#pai{
    overflow: hidden;
    margin: auto;
}