p {
  font-family: 'Slabo 27px', serif; }

h1 {
  font-family: 'Montserrat', sans-serif; }

h2 {
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-family: 'Montserrat', sans-serif; }

h4 {
  font-family: 'Montserrat', sans-serif; }

h5 {
  font-family: 'Montserrat', sans-serif; }

body {
  padding-top: 0%;
  background-color: #C2C2C2; }

@media screen and (max-width: 647px) {
  .col_p1 {
    width: 6.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p2 {
    width: 12.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p3 {
    width: 18.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p4 {
    width: 25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p5 {
    width: 31.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p6 {
    width: 37.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p7 {
    width: 43.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p8 {
    width: 50%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p9 {
    width: 56.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p10 {
    width: 62.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p11 {
    width: 68.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p12 {
    width: 75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p13 {
    width: 81.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p14 {
    width: 87.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p15 {
    width: 93.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_p16 {
    width: 100%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; } }
@media screen and (max-width: 959px) and (min-width: 648px) {
  .col_m1 {
    width: 6.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m2 {
    width: 12.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m3 {
    width: 18.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m4 {
    width: 25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m5 {
    width: 31.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m6 {
    width: 37.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m7 {
    width: 43.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m8 {
    width: 50%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m9 {
    width: 56.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m10 {
    width: 62.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m11 {
    width: 68.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m12 {
    width: 75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m13 {
    width: 81.25%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m14 {
    width: 87.5%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m15 {
    width: 93.75%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; }

  .col_m16 {
    width: 100%;
    padding-bottom: 4242px;
    margin-bottom: -4242px; } }
.col_g1 {
  width: 6.25%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g2 {
  width: 12.5%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g3 {
  width: 18.75%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g4 {
  width: 25%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g5 {
  width: 31.25%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g6 {
  width: 37.5%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g7 {
  width: 43.75%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g8 {
  width: 50%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g9 {
  width: 56.25%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g10 {
  width: 62.5%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g11 {
  width: 68.75%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g12 {
  width: 75%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g13 {
  width: 81.25%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g14 {
  width: 87.5%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g15 {
  width: 93.75%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

.col_g16 {
  width: 100%;
  padding-bottom: 4242px;
  margin-bottom: -4242px; }

#resumo {
  background-color: #9BFFC4;
  float: left;
  overflow: hidden; }

#nome {
  text-align: center; }

#foto {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  width: 100%; }

#dados_pessoais {
  text-align: center;
  font-size: 80%; }

#antes_atual {
  display: inline;
  margin-top: -3%; }

#atual {
  display: inline;
  background-color: #F3D944;
  padding: 3px;
  margin-top: -3%;
  border-radius: 5px; }

#principal {
  background-color: #C997CF;
  overflow: hidden;
  padding-bottom: 15%;
  padding-left: 5%; }

#experiencias {
  overflow: hidden; }

#educacao {
  float: left;
  overflow: hidden; }

#tecnico {
  float: right;
  overflow: hidden;
  max-width: 50%; }

ul .card {
  background-color: #53D929;
  width: 40%;
  line-height: 0.5%;
  margin: auto;
  text-align: center;
  display: inline-block;
  margin: 2%;
  border-radius: 3px; }
ul .card:hover {
  background-color: #F24332;
  width: 40%;
  margin: auto;
  line-height: 0.5%;
  text-align: center;
  font-size: 110%;
  display: inline-block;
  margin: 2%;
  border-radius: 3px; }

#footer {
  background-color: #FF922C; }

#copyright {
  background-color: #FF922C;
  display: inline;
  margin-left: 10%; }

.titulo {
  text-align: center; }

#pai {
  overflow: hidden;
  margin: auto; }

/*# sourceMappingURL=style.css.map */
