#canvas {
  padding: 0px 2% 0px 2%;
}
#title{
    font-size: 2em;
}
#header {
  background-color: #212121;
  font-family: "IBM Plex Serif", serif;
}

#logo {
  max-width: 5%;
  margin-top: 10px;
}

#destaque {
  padding-top: 80px;
  font-family: "IBM Plex Serif", serif;
}

#noticias {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

#mainImg {
  max-height: 50%;
  max-width: 50%;
}


.web {
  color: #8AC007;
}

.mobile {
  color: #b51110;
}

.eLearning {
  color: #2a3744;
}

.text {
  text-align: center;
}
.img{
    margin-top: 28px;
    width: 100%;
}
.headerElements {
  margin-top: 49px;
  display: inline;
  text-align: center;
  font-size: 100%;

}
.first{
    margin-bottom: 50px;
}
.mainTitle{
    margin-top: 60px;
}
.noticia{
    margin-bottom: 20px;
}
img:hover {
  transform: scale(1.1, 1.1);
}

hr {
  margin: 60px 0px 60px 0px;
}

p::first-letter{
    font-size: 200%;
}
a{
    color: inherit;
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .col-g-1 {
    width: 6.25%;
    float: left;
  }

  .offset-g-1 {
    padding-left: 6.25%;
  }

  .col-g-2 {
    width: 12.5%;
    float: left;
  }

  .offset-g-2 {
    padding-left: 12.5%;
  }

  .col-g-3 {
    width: 18.75%;
    float: left;
  }

  .offset-g-3 {
    padding-left: 18.75%;
  }

  .col-g-4 {
    width: 25%;
    float: left;
  }

  .offset-g-4 {
    padding-left: 25%;
  }

  .col-g-5 {
    width: 31.25%;
    float: left;
  }

  .offset-g-5 {
    padding-left: 31.25%;
  }

  .col-g-6 {
    width: 37.5%;
    float: left;
  }

  .offset-g-6 {
    padding-left: 37.5%;
  }

  .col-g-7 {
    width: 43.75%;
    float: left;
  }

  .offset-g-7 {
    padding-left: 43.75%;
  }

  .col-g-8 {
    width: 50%;
    float: left;
  }

  .offset-g-8 {
    padding-left: 50%;
  }

  .col-g-9 {
    width: 56.25%;
    float: left;
  }

  .offset-g-9 {
    padding-left: 56.25%;
  }

  .col-g-10 {
    width: 62.5%;
    float: left;
  }

  .offset-g-10 {
    padding-left: 62.5%;
  }

  .col-g-11 {
    width: 68.75%;
    float: left;
  }

  .offset-g-11 {
    padding-left: 68.75%;
  }

  .col-g-12 {
    width: 75%;
    float: left;
  }

  .offset-g-12 {
    padding-left: 75%;
  }

  .col-g-13 {
    width: 81.25%;
    float: left;
  }

  .offset-g-13 {
    padding-left: 81.25%;
  }

  .col-g-14 {
    width: 87.5%;
    float: left;
  }

  .offset-g-14 {
    padding-left: 87.5%;
  }

  .col-g-15 {
    width: 93.75%;
    float: left;
  }

  .offset-g-15 {
    padding-left: 93.75%;
  }

  .col-g-16 {
    width: 100%;
    float: left;
  }

  .offset-g-16 {
    padding-left: 100%;
  }

  .col-g-0 {
    display: none;
  }
}
/* TABLET */
@media screen and (min-width: 560px) and (max-width: 1199px) {
  .col-m-1 {
    width: 6.25%;
    float: left;
  }

  .offset-m-1 {
    padding-left: 6.25%;
  }

  .col-m-2 {
    width: 12.5%;
    float: left;
  }

  .offset-m-2 {
    padding-left: 12.5%;
  }

  .col-m-3 {
    width: 18.75%;
    float: left;
  }

  .offset-m-3 {
    padding-left: 18.75%;
  }

  .col-m-4 {
    width: 25%;
    float: left;
  }

  .offset-m-4 {
    padding-left: 25%;
  }

  .col-m-5 {
    width: 31.25%;
    float: left;
  }

  .offset-m-5 {
    padding-left: 31.25%;
  }

  .col-m-6 {
    width: 37.5%;
    float: left;
  }

  .offset-m-6 {
    padding-left: 37.5%;
  }

  .col-m-7 {
    width: 43.75%;
    float: left;
  }

  .offset-m-7 {
    padding-left: 43.75%;
  }

  .col-m-8 {
    width: 50%;
    float: left;
  }

  .offset-m-8 {
    padding-left: 50%;
  }

  .col-m-9 {
    width: 56.25%;
    float: left;
  }

  .offset-m-9 {
    padding-left: 56.25%;
  }

  .col-m-10 {
    width: 62.5%;
    float: left;
  }

  .offset-m-10 {
    padding-left: 62.5%;
  }

  .col-m-11 {
    width: 68.75%;
    float: left;
  }

  .offset-m-11 {
    padding-left: 68.75%;
  }

  .col-m-12 {
    width: 75%;
    float: left;
  }

  .offset-m-12 {
    padding-left: 75%;
  }

  .col-m-13 {
    width: 81.25%;
    float: left;
  }

  .offset-m-13 {
    padding-left: 81.25%;
  }

  .col-m-14 {
    width: 87.5%;
    float: left;
  }

  .offset-m-14 {
    padding-left: 87.5%;
  }

  .col-m-15 {
    width: 93.75%;
    float: left;
  }

  .offset-m-15 {
    padding-left: 93.75%;
  }

  .col-m-16 {
    width: 100%;
    float: left;
  }

  .offset-m-16 {
    padding-left: 100%;
  }

  .col-m-0 {
    display: none;
  }
}
/* SMARTPHONE */
@media screen and (max-width: 559px) {
  .col-p-1 {
    width: 6.25%;
    float: left;
  }

  .offset-p-1 {
    padding-left: 6.25%;
  }

  .col-p-2 {
    width: 12.5%;
    float: left;
  }

  .offset-p-2 {
    padding-left: 12.5%;
  }

  .col-p-3 {
    width: 18.75%;
    float: left;
  }

  .offset-p-3 {
    padding-left: 18.75%;
  }

  .col-p-4 {
    width: 25%;
    float: left;
  }

  .offset-p-4 {
    padding-left: 25%;
  }

  .col-p-5 {
    width: 31.25%;
    float: left;
  }

  .offset-p-5 {
    padding-left: 31.25%;
  }

  .col-p-6 {
    width: 37.5%;
    float: left;
  }

  .offset-p-6 {
    padding-left: 37.5%;
  }

  .col-p-7 {
    width: 43.75%;
    float: left;
  }

  .offset-p-7 {
    padding-left: 43.75%;
  }

  .col-p-8 {
    width: 50%;
    float: left;
  }

  .offset-p-8 {
    padding-left: 50%;
  }

  .col-p-9 {
    width: 56.25%;
    float: left;
  }

  .offset-p-9 {
    padding-left: 56.25%;
  }

  .col-p-10 {
    width: 62.5%;
    float: left;
  }

  .offset-p-10 {
    padding-left: 62.5%;
  }

  .col-p-11 {
    width: 68.75%;
    float: left;
  }

  .offset-p-11 {
    padding-left: 68.75%;
  }

  .col-p-12 {
    width: 75%;
    float: left;
  }

  .offset-p-12 {
    padding-left: 75%;
  }

  .col-p-13 {
    width: 81.25%;
    float: left;
  }

  .offset-p-13 {
    padding-left: 81.25%;
  }

  .col-p-14 {
    width: 87.5%;
    float: left;
  }

  .offset-p-14 {
    padding-left: 87.5%;
  }

  .col-p-15 {
    width: 93.75%;
    float: left;
  }

  .offset-p-15 {
    padding-left: 93.75%;
  }

  .col-p-16 {
    width: 100%;
    float: left;
  }

  .offset-p-16 {
    padding-left: 100%;
  }

  .col-p-0 {
    display: none;
  }
}
