@media screen and (min-width: 960px) {
    .colg1 {
        width: 6%;
    }

    .colg2 {
        width: 12%;
    }

    .colg3 {
        width: 18%;
    }

    .colg4 {
        width: 24%;
    }

    .colg5 {
        width: 30%;
    }

    .colg6 {
        width: 36%;
    }

    .colg7 {
        width: 42%;
    }

    .colg8 {
        width: 48%;
    }

    .colg9 {
        width: 54%;
    }

    .colg10 {
        width: 60%;
    }

    .colg11 {
        width: 66%;
    }

    .colg12 {
        width: 72%;
    }

    .colg13 {
        width: 78%;
    }

    .colg14 {
        width: 84%;
    }

    .colg15 {
        width: 90%;
    }

    .colg16 {
        width: 96%;
    }

}

@media screen and (min-width: 648px) and (max-width: 959px) {
    .colm1 {
        width: 6%;
    }

    .colm2 {
        width: 12%;
    }

    .colm3 {
        width: 18%;
    }

    .colm4 {
        width: 24%;
    }

    .colm5 {
        width: 30%;
    }

    .colm6 {
        width: 36%;
    }

    .colm7 {
        width: 42%;
    }

    .colm8 {
        width: 48%;
    }

    .colm9 {
        width: 54%;
    }

    .colm10 {
        width: 60%;
    }

    .colm11 {
        width: 66%;
    }

    .colm12 {
        width: 72%;
    }

    .colm13 {
        width: 78%;
    }

    .colm14 {
        width: 84%;
    }

    .colm15 {
        width: 90%;
    }

    .colm16 {
        width: 96%;
    }
}

@media screen and (max-width: 647px) {
    .colp1 {
        width: 6%;
    }

    .colp2 {
        width: 12%;
    }

    .colp3 {
        width: 18%;
    }

    .colp4 {
        width: 24%;
    }

    .colp5 {
        width: 30%;
    }

    .colp6 {
        width: 36%;
    }

    .colp7 {
        width: 42%;
    }

    .colp8 {
        width: 48%;
    }

    .colp9 {
        width: 54%;
    }

    .colp10 {
        width: 60%;
    }

    .colp11 {
        width: 66%;
    }

    .colp12 {
        width: 72%;
    }

    .colp13 {
        width: 78%;
    }

    .colp14 {
        width: 84%;
    }

    .colp15 {
        width: 90%;
    }

    .colp16 {
        width: 96%;
    }
}

.colp1,.colp2,.colp4,.colp5,.colp6,.colp7,.colp8,.colp9,.colp10,.colp11,.colp12,.colp13,.colp14,.colp15,.colp16 {
}

.colm1,.colm2,.colm4,.colm5,.colm6,.colm7,.colm8,.colm9,.colm10,.colm11,.colm12,.colm13,.colm14,.colm15,.colm16 {

}

.colg1,.colg2,.colg4,.colg5,.colg6,.colg7,.colg8,.colg9,.colg10,.colg11,.colg12,.colg13,.colg14,.colg15,.colg16 {
}

.container {
    width: 100%;
    margin: auto;
}

h2 {
    padding-left: 2%;
    font-family: 'Amatic SC';
    /*font-size: 400%;*/
    color: #B589CC;
}

h3 {
    display: inline;
    /*font-size: 240%;*/
    font-family: 'Amatic SC';   
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 3%;
    padding-right: 2%;
    /*font-size: 200%;*/
    color: #E5FDFF;
}

body {
    background-color: black;
}

h2:hover{
    text-shadow: 2px 0 0 red;
}

#pessoal {
    background-color: #F2F2EB;
    height: 490%;
    overflow: hidden;
}

#imagemdiv {
    padding-top: 3.6%;
}

#imagem {
    width: 20%;
    border-radius: 100%;
    opacity: 0.8;
    border: 5px solid black;
}

#imagem:hover {
    opacity: 1;
}

#profissao {
    width: 3%;
}

#casa {
    width: 3%;
}

.dados {
    font-family: 'Amatic SC';
}

#sobremim {
    float: right;
    background-color: black;
    height: 414px;
    border-radius: 50px;
}

#experiencia {
    float: right;
    height: 420px;
    background-color: #436C7F;
    border-radius: 50px;
}
#educacao {
    float: right;
    height: 370px;
    background-color: #161840;
    border-radius: 50px;
}

#tecnico {
    height: 420px;
    background-color: #436C7F;
    border-radius: 50px;
    margin-bottom: 4%;
    float: right;
}

footer {
    float: right;
    width: 100%;
    height: 90px;
    margin-bottom: 2%;
    background-color: black;
}

#rodape {
    font-size: 165%;
    float: none;
}

.conhecimento {
    float: left;
    color: #49054A;
}

.conhecimento:hover {
    font-size: 120%;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.iconrede {
    width: 5.4%;
    padding-left: 4%;
    padding-top: 1%;
    opacity: 0.2;
}

.iconrede:hover {
    opacity: 1;
}